
 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 @import "~@fortawesome/fontawesome-free/css/all.min.css";


 /* index.css or global.css */
 .no-scrollbar::-webkit-scrollbar {
   display: none;
 }

 .no-scrollbar {
   -ms-overflow-style: none;
   scrollbar-width: none;
 }

 video::-webkit-media-controls {
  display: none !important;
}


.hide-native-controls::-webkit-media-controls {
  display: none !important;
}
 